@import url(https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700,800,900,300italic,400italic,500italic,600italic,700italic,800italic,900italic|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext);
@import "../normalize.css";
body {
  font-family: "Noticia Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #002f2f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  color: #a7a37e;
  margin: 28px 0 14px 0;
  max-width: 75%;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 54px;
}
h2 {
  font-size: 46px;
  font-weight: 800;
  line-height: 50px;
}
h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}
h4 {
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
h5 {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
}
h6 {
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}
p {
  margin: 28px 0;
}
a {
  color: #0699c6;
  text-decoration: none;
}
body > header {
  position: fixed;
  top: 28px;
  left: 28px;
  font-style: italic;
}
body > header h1 {
  display: inline;
  font-size: 42px;
  line-height: 56px;
}
body > header h1:before {
  display: inline-block;
  content: "N.";
  border: 3px solid #a7a37e;
  margin-right: .25em;
  border-radius: 50%;
  font-size: .5em;
  width: 2rem;
  line-height: 2rem;
  vertical-align: .5rem;
}
body > header h1 span {
  margin-left: 1px;
  color: #e6e2af;
}
main {
  width: 800px;
  margin: 28px auto;
}
#posts article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 84px 0 0;
  border-top: 5px solid #e6e2af;
}
#posts article:first-child {
  border: 0 none;
}
#posts article header {
  order: 1;
}
#posts article .content {
  order: 3;
}
#posts article .content .intro {
  font-size: 19.8px;
  font-weight: bold;
  text-indent: -32.4px;
}
#posts article .content .intro:before {
  content: "";
  display: inline-block;
  width: 14.4px;
  height: 14.4px;
  background-color: #e6e2af;
  margin: 0 18px -1px 0;
  border-bottom: 1px solid #a7a37e;
}
#posts article footer {
  color: #e6e2af;
  order: 2;
}
