@import url(https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700,800,900,300italic,400italic,500italic,600italic,700italic,800italic,900italic|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext);

@import (css) "../normalize.css";
@import "Mixins";
@import "Variables";

html {
	font-size: @textSize; // = 1rem
}

body {
	font-family: @textFamily;
	font-size: @textSize;
	font-weight: 400;
	line-height: @textLeading;
	color: @textColor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFamily;
	color: @primary;
	margin: @textLeading 0 @textLeading * .5 0;
	max-width: 75%;
}

// Generate headers using recursive mixin
.genHeaders(@i) when (@i > 0) {
	.genHeaders((@i - 1));

	h@{i} {
		font-size: @textSize * 3 - @i * 4px;
		font-weight: 1000 - @i * 100;
		line-height: (@textSize * 3 - @i * 4px) + 4px;
	}
}
.genHeaders(6);

p {
	margin: @textLeading 0;
}

a {
	color: @linkColor;
	text-decoration: none;
}

.placeholderSettings() {
	// keep fonts settings for fields that use different fonts (i.e. password)
	font-family: @textFamily;
	font-weight: 300;
	//font-style: italic;
	color: @secondary;
}
::-webkit-input-placeholder {
	.placeholderSettings();
}
:-moz-placeholder {
	.placeholderSettings();
}
::-moz-placeholder {
	.placeholderSettings();
}
:-ms-input-placeholder {
	.placeholderSettings();
}
[placeholder]:not(input):empty:before {
	content: attr(placeholder);
	.placeholderSettings();
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body > header {
	position: fixed;
	top: @textLeading;
	left: @textLeading;
	font-style: italic;

	h1 {
		display: inline;
		font-size: 42px;

		&:before {
			display: inline-block;
			content: "N.";
			border: 3px solid @primary;
			margin-right: .25em;
			border-radius: 50%;
			font-size: .5em;
			width: 2rem;
			line-height: 2rem;
			vertical-align: .5rem;
		}

		a {
			color: inherit;
			span {
				margin-left: 1px;
				color: @secondary;
			}
		}
	}
}

nav {
	menu {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;

			a {
				color: @primary;

				&:after {
					content: "\20\bb";
					color: @secondary;
				}
			}
		}

		&.horizontal {
			li {
				display: inline-block;
			}
		}
	}
}

form {
	button {
		font-family: @headingFamily;
		font-weight: 600;
		color: #fff;
		text-transform: capitalize;
		background-color: @secondary;
		outline: 0 none;
		border: 3px solid @secondary;
		border-radius: 5px;
		padding: .5rem 2rem;
		transition: all .25s;
		cursor: pointer;

		&:hover, &:focus {
			border-color: @primary;
			color: @primary;
		}

		&:disabled {
			background-color: #fff;
			border-color: @primary;
			color: @primary;
			opacity: .25;
			cursor: default;

			&:hover {
				color: @primary;
			}
		}
	}
}

aside {
	nav.security {
		position: fixed;
		top: @textLeading * 3;
		left: calc(~`"@{textLeading} + 6px + 2rem + .25em"`);
	}

	nav.context {
		position: fixed;
		top: @textLeading;
		right: @textLeading;
	}
}

main {
	width: @contentWidth;
	margin: @textLeading auto;
}

.error {
	color: @colorInvalid;
}

// Individual pages included here for convenience

#posts {

	article {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin: @textLeading * 3 0 0;
		border-top: 5px solid @secondary;

		&:first-child {
			border: 0 none;
		}

		header {
			order: 1;
		}

		.content {
			order: 3;

			.intro {
				font-size: @textSize * 1.1;
				font-weight: bold;
				text-indent: -@textSize * 1.8;

				&:before {
					content: "";
					display: inline-block;
					width: @textSize * .8;
					height: @textSize * .8;
					background-color: @secondary;
					margin: 0 @textSize -1px 0;
					border-bottom: 1px solid @primary;
				}
			}
		}

		footer {
			//font-size: @textSize * .9;
			color: @secondary;
			order: 2;
		}
	}
}

#login, #signup {
	h1 {
		font-style: italic;
		font-size: 42px;
		margin-bottom: 0;
	}

	p {
		//margin-top: 0;
	}

	form {
		input {
			display: block;
			margin: @textLeading 0;
			outline: 0 none;
			border: 1px solid @secondary;
			border-width: 0 0 3px 0;
			padding: 0 0 10px;
			width: 50%;

			&.ng-dirty.ng-valid {
				border-color: @colorValid;
			}
			&.ng-dirty.ng-invalid {
				border-color: @colorInvalid;
			}
		}
	}
}

#create {
	form {
		margin: @textLeading 0;

		[name] {
			display: block;
			width: 100%;
			outline: 0 none;
			border: 0 none;
			padding: 0;
			resize: none;
		}

		[name="title"] {
			font-family: @headingFamily;
			font-size: 50px;
			font-weight: 900;
			line-height: 54px;
			color: @primary;
			margin: @textLeading 0 @textLeading * .5 0;
			height: 54px;
			overflow: hidden;

			&::-webkit-input-placeholder { font-family: @headingFamily; font-weight: 900; }
			&:-moz-placeholder { font-family: @headingFamily; font-weight: 900; }
			&::-moz-placeholder { font-family: @headingFamily; font-weight: 900; }
			&:-ms-input-placeholder { font-family: @headingFamily; font-weight: 900; }
		}

		[name="intro"] {
			font-size: @textSize * 1.1;
			font-weight: bold;
			height: @textLeading;
		}

		[name="content"] {
			height: @textLeading;
		}

		/*[placeholder]:not(input):empty:before {
			content: attr(placeholder);
			.placeholderSettings();
		}*/
	}
}