@textFamily: "Noticia Text", sans-serif;
@textSize: 18px;
@textLeading: 28px;
@textColor: #002f2f;

@linkColor: #0699C6;

@headingFamily: "Exo", sans-serif;

@primary: #a7a37e;
@secondary: #e6e2af;

@colorValid: #94ce69;
@colorInvalid: #fe7353;

@contentWidth: 800px;