@{
	ViewBag.Title = "Hello novelist";
}

<main>
	<article>
		<h1>Sega Mega Drive: why retro consoles are about more than nostalgia</h1>
		<p class="intro">A new version of the classic1988 games console is selling well this year, apparently, but the appeal of this system goes deeper than reminiscence.</p>
		<p>Every year at about this time, newspapers love to identify the biggest-selling Christmas presents – those sudden surprise hits that have desperate shoppers combing internet stores for hours or simply fighting each other in Toys R Us.	</p>
		<p>This year, among other candidates, is a £40 wireless version of the Sega Mega Drive, the classic 1988 games console, famous for Sonic the Hedgehog. According to Argos, sales of the retro gadget, which includes 80 built-in games (although only 40 are Mega Drive classics, the rest are generic mini-games like solitaire) and a cartridge port so you can use any original game carts you have lying around, have risen by 400% this month. While we’re all supposed to be saving up for cutting-edge machines like the PlayStation 4 and Xbox One, some families will be gathered around a very different audio-visual experience come 25 December.</p>
	</article>
</main>