<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="NovelistDBConnection"
				 connectionString="Data Source=ad1a505f-8641-431f-a197-a555014106b6.sqlserver.sequelizer.com;Initial Catalog=dbad1a505f8641431fa197a555014106b6;User ID=devyiztmmwihzngi;Password=ex3fFkfWFTCFKb6dNQ3LkAaL5Z7pyNpFdKvPFqf5fczHzn3C5pLoKKiKxqjPnXw2;"
				 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

</configuration>